<div class="question">
  <li>
    <p>投稿者：<%= link_to question.name, user_path(question.user_id) %></p>
    <p class="content"><%= question.content %></p>
    <p>回答数：<%= question.answers.count %></p>
    <%= link_to "詳しく見る", question_path(question.question_id) %>
    
    <% if logged_in? %>
      <% if current_user.id == question.user_id %>
      /
          <%= link_to "削除する", question_path(question.question_id), method: :delete,
                                           data: { confirm: "本当に削除しますか？" } %>
      <% end %>
    <% end %>
  </li>
</div>