<h1>質問の投稿</h1>

<%= form_for(@question) do |f| %>
  <%= render 'shared/error_messages' , object: f.object %>
  <%= f.label  :質問内容 %>
  <%= f.text_area :content %>
  <%= f.submit "質問する", class: "btn btn-primary" %>
<% end %>

