<div class="row">
  <div class="col-md-10">
    <p><%= link_to @user.name, user_path(@user) %>さんの質問</p>
    <h4>質問内容</h4>
    <div class="question">
      <p class="content"><%= @question.content %></p>
      <p><%= link_to "回答する", new_answer_path(question_id: @question.id) %></p>
   </div>
    <% if @question.answers.any? %>
      <p>回答数 (<%= @question.answers.count %>)</p>
      <ol>
        <%= render partial: "answers/answer", collection: @answers %>
      </ol>
      <%= will_paginate @answers %>
    <% end %>
  </div>
</div>

