<div class="questions">
  <div class="question-show">
    <div class="question-info">
      <%= link_to @question.name, user_path(@question.user_id) %>
      <%= @question.updated_at.strftime("%Y-%m-%d") %>
    </div>
    <div class="question-content">
      <%= @question.content %>
    </div>
  </div>     

  <h5><%= @answer_count %>件の回答</h5>
  <% if @best_answer != nil %>
    <div class="best-answer-show">
      <div class="answer-info">
        ベストアンサーに選ばれた回答<br>
        <%= link_to @best_answer.name, user_path(@best_answer.user_id) %>
        <%= @best_answer.updated_at.strftime("%Y-%m-%d") %>
      </div>
      <div class="answer-content">
        <%= @best_answer.content %>
      </div>
      <!--削除ボタン-->
      <% if logged_in? %>
        <% if current_user.id == @best_answer.user_id %>
          <%= link_to "削除する", answer_path(@best_answer.id), method: :delete, data: { confirm: "本当に削除しますか？" } %>
        <% end %>
      <% end %>
    </div>  
  <% end %>
    
  <% if @answers.any? %>
    <div class="answers">
      <% @answers.each do |answer| %>
        <div class="answer-show">
          <div class="answer-info">
            <%= link_to answer[:user_name], user_path(answer[:user_id]) %>
            <%= answer[:updated_at].strftime("%Y-%m-%d") %>
          </div>
          <div class="answer-content">
            <%= answer[:content] %>
          </div>
          <% if logged_in? %>
            <!--削除ボタン-->
            <% if current_user.id == answer[:user_id] %>
              <%= link_to "削除する", answer_path(answer[:id]), method: :delete, data: { confirm: "本当に削除しますか？" } %>
            <% end %>
            <!--ベストアンサーボタン-->
            <% if current_user.id == @question.user_id && @best_answer == nil %>
              <%= link_to "ベストアンサー", question_path(@question, params: { question: { best_answer_id: answer[:id] } }, method: :patch) %>
            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>

  <%= link_to "回答する", new_answer_path(question_id: @question.id), class: 'btn btn-outline-primary' %>
</div>

