<h4><%= @user.name %>さんのマイページ</h4>

<% if @user.id == current_user.id %>
  <p><%= link_to "ユーザー情報の編集", edit_user_path(current_user) %></p>
  <p><%= link_to "アカウントの削除", user_path(current_user), method: :delete, data: { confirm: "本当に削除しますか？" } %></p>
<% end %>

<div class="row">
  <div class="col-md-12">
    <% if @user.questions.any? %>
      <p><%= @user.name %>さんの質問数 (<%= @user.questions.count %>)</p>
      <ol>
        <%= render @questions %>
      </ol>
      <%= will_paginate @questions %>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <% if @user.answers.any? %>
      <p><%= @user.name %>さんの回答数 (<%= @user.answers.count %>)</p>
      <ol>
        <%= render @answers %>
      </ol>
      <%= will_paginate @answers %>
    <% end %>
  </div>
</div>


