<h4><%= @user.name %>さんのマイページ</h4>
<hr>

<div class="accordion" id="accordionExample">
<%# --------------------------------------------------------- %>
  <div class="card">
    <div class="card-header" id="headingOne">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          解決済みの質問
        </button>
      </h2>
    </div>

    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body">
        <%# todo 解決済質問数 %>
        <% if @solved_questions.any? %>
          <div class="questions">
            <% @solved_questions.each do |question| %>
              <div class="question" onclick="location.href='<%= question_path(question[:id]) %>'">
                <div class="question-info">
                  <%= link_to question[:user_name], user_path(question[:user_id]) %>
                  <%= question[:updated_at].strftime("%Y-%m-%d") %>
                </div>
                <div class="question-content">
                  <%= question[:content] %>
                </div>
                <div class="best-answer">
                  <%= question[:best_answer] %>
                </div>
                <div class="answer-count">
                  その他の回答が<%= question[:answer_counts] - 1 %>件あります
                </div>
                <% if logged_in? %>
                  <% if current_user.id == @user.id %>
                    <%= link_to "削除する", question_path(question), method: :delete, data: { confirm: "本当に削除しますか？" } %>
                  <% end %>
                <% end %>      
              </div>
            <% end %> 
          </div>
        <% end %> 
      </div>
    </div>
  </div>
  <%# -------------------------------- %>
  <div class="card">
    <div class="card-header" id="headingTwo">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          未解決の質問
        </button>
      </h2>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
      <div class="card-body">
        <%# todo 未解決質問数 %>
        <% if @unsolved_questions.any? %>
          <div class="questions">
            <% @unsolved_questions.each do |question| %>
              <div class="question" onclick="location.href='<%= question_path(question[:id]) %>'">
                <div class="question-info">
                  <%= link_to question[:user_name], user_path(question[:user_id]) %>
                  <%= question[:updated_at].strftime("%Y-%m-%d") %>
                </div>
                <div class="question-content">
                  <%= question[:content] %>
                </div>
                <div class="answer-count">
                  回答が<%= question[:answer_counts] %>件あります
                </div>
                <% if logged_in? %>
                  <% if current_user.id == @user.id %>
                    <%= link_to "削除する", question_path(question), method: :delete, data: { confirm: "本当に削除しますか？" } %>
                  <% end %>
                <% end %>    
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <%# --------------------------------------------------------------- %>
  <div class="card">
    <div class="card-header" id="headingThree">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          回答した質問
        </button>
      </h2>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
      <div class="card-body">
        <%# todo 回答した質問数 %>
        <% if @answerd_questions.any? %>
          <div class="questions">
            <% @answerd_questions.each do |question| %>
              <div class="question" onclick="location.href='<%= question_path(question[:id]) %>'">
                <div class="question-info">
                  <%= link_to question[:user_name], user_path(question[:user_id]) %>
                  <%= question[:updated_at].strftime("%Y-%m-%d") %>
                </div>
                <div class="question-content">
                  <%= question[:content] %>
                </div>
                <div class="answer-count">
                  回答が<%= question[:answer_counts] %>件あります
                </div>      
              </div>
          <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <%# -------------------------------------------------------------- %>
</div>

<%# todo ユーザー情報の表示 %>
<% if logged_in? && @user.id == current_user.id %>
  <%= link_to "ユーザー情報の編集", edit_user_path(current_user) %>
  <%= link_to "アカウントの削除", user_path(current_user), method: :delete, data: { confirm: "本当に削除しますか？" } %>
<% end %>