<% if @send_questions.any? %>
<div class="questions">
  <% @send_questions.each do |question| %>
    <div class="question" onclick="location.href='<%= question_path(question[:id]) %>'">
      <div class="question-info">
        <%= link_to question[:user_name], user_path(question[:user_id]) %>
        <%= question[:updated_at].strftime("%Y-%m-%d") %>
      </div>
      <div class="question-content">
        <%= question[:content] %>
      </div>
      <div class="best-answer">
        <%= question[:best_answer] %>
      </div>
      <div class="answer-count">
        その他の回答が<%= question[:answer_counts] - 1 %>件あります
      </div>      
    </div>
  <% end %>
<% end %>
