<% if @questions.any? %>
<div class="questions">
  <% @questions.each do |question| %>
    <div class="question">
      <p>
        <%# todo viewでmodelにアクセスしている。コントコーラでjoinを行う %>
        <%= link_to @users.find(question.user_id).name, user_path(question.user_id) %>
        <%= question.created_at.strftime("%Y-%m-%d") %>
      </p>
      <p class="content"><%= question.content %></p>
      <p>
        回答数：<%= question.answers.count %>
        <%# todo リンクをオブジェクトに追加 %>
        <%= link_to "詳しく見る", question_path(question) %>  
      </p>
    </div>
  <% end %>
  <%= will_paginate @questions, :previous_label => ' &lt 前へ', :next_label => '次へ &gt' %>
<% end %>
